<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Residential address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.residential_line_1 %>
          <br />

          <% if @application.residential_line_2.present? %>
            <%= @application.residential_line_2 %>
            <br />
          <% end %>

          <%= @application.residential_town %>
          <br />
          <%= @application.residential_postcode %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/additional-info/steps/1">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.fullname %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/additional-info/steps/2">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/additional-info/steps/3">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.phone_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/additional-info/steps/4">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('residential_host.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.residential_host %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/additional-info/steps/5">
            Change<span class="govuk-visually-hidden"> residential host</span>
          </a>
        </dd>
      </div>

      <% if @application.residential_pet.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('residential_pet.short', scope: "additional_info.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
              <%= @application.residential_pet %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info/steps/6">
              Change<span class="govuk-visually-hidden"> residential pet</span>
            </a>
          </dd>
        </div>
      <% end %>
    </dl>

    <% if @application.property_one_line_1.present? && @application.residential_host.upcase == "NO" %>
      <h2 class="govuk-heading-m">Host property details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property one address
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.property_one_line_1 %>
            <br />

            <% if @application.property_one_line_2.present? %>
              <%= @application.property_one_line_2 %>
              <br />
            <% end %>

            <%= @application.property_one_town %>
            <br />
            <%= @application.property_one_postcode %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info/steps/1">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('residential_pet.short', scope: "additional_info.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.property_one_pet %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info/steps/8">
              Change<span class="govuk-visually-hidden"> host pets</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('more_properties.short', scope: "additional_info.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.more_properties %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/additional-info/steps/9">
              Change<span class="govuk-visually-hidden"> more properties</span>
            </a>
          </dd>
        </div>
      </dl>
    <% end %>

    <h2 class="govuk-heading-m">User research</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('user_research.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.user_research %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/additional-info/steps/7">
            Change<span class="govuk-visually-hidden"> user research</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <%= form_for @application, url: "/additional-info/submit", method: :post do |f| %>
      <%= f.govuk_submit t('Accept and send') %>
    <% end %>
  </div>
</div>
