<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Who are you?</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.hint', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.sponsor_full_name? %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/10">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

    <% if @application.has_other_names.casecmp("true").zero? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('other_name.short', scope: "unaccompanied_minor.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% @application.other_names.each_with_index do |name, index| %>
              <%= name[0] %>&nbsp;<%= name[1] %><br />
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sponsor-a-child/steps/13">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
    <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/14">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.phone_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/15">
            Change<span class="govuk-visually-hidden"> number</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ID
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.identification_type %><br />
          <%= @application.identification_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/16">
            Change<span class="govuk-visually-hidden"> id</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('sponsor_date_of_birth.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.sponsor_date_of_birth_as_string %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/18">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nationality
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.nationality %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/19">
            Change<span class="govuk-visually-hidden"> nationality</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Other nationalities
        </dt>
        <% if @application.has_other_nationalities.empty? %>
          <dd class="govuk-summary-list__value">
            None
          </dd>
        <% else %>
          <% @application.other_nationalities.each_with_index do |nationality, index| %>
            <%= nationality[0] %>
          <% end %>
        <% end %>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/20">
            Change<span class="govuk-visually-hidden"> other nationalities</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Where will the child live?</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.formatted_address? %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/23">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

    <% if !@application.adults_at_address.empty? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Over 16 years old
        </dt>
        <dd class="govuk-summary-list__value">
          <% @application.adults_at_address.each do |key, val| %>
            <%= "#{@application.adults_at_address[key]["given_name"]} #{@application.adults_at_address[key]["family_name"]}" %><br />
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/28">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
    <% end %>

    </dl>

    <h2 class="govuk-heading-m">Tell us about the child</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.minor_full_name? %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/32">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Contact
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.minor_contact_type.casecmp("email").zero? %>
            <%= @application.minor_email %>
          <% elsif @application.minor_contact_type.casecmp("telephone").zero? %>
            <%= @application.minor_phone_number %>
          <% else %>
            They cannot be contacted
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/33">
            Change<span class="govuk-visually-hidden"> contact</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('minor_date_of_birth.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.minor_date_of_birth_as_string %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/34">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('uk_parental_consent.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.uk_parental_consent_filename %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/36">
            Change<span class="govuk-visually-hidden"> form</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('ukraine_parental_consent.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.ukraine_parental_consent_filename %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/37">
            Change<span class="govuk-visually-hidden"> form</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Sponsor declaration</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you consent to the data sharing agreement?
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:privacy_statement_confirm) %>
            <span class="govuk-error-message"><%= @application.errors[:agree_privacy_statement].join %></span>
          <% else %>
          <%= @application.privacy_statement_confirm == "true" ? "Agreed" : "Not agreed" %>
          <% end%>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/38">
            Change<span class="govuk-visually-hidden"> data sharing agreement</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you commit to the conditions of sponsoring an unaccompanied child?
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:sponsor_declaration) %>
            <span class="govuk-error-message"><%= @application.errors[:sponsor_declaration].join %></span>
          <% else %>
          <%= @application.sponsor_declaration == "true" ? "Agreed" : "Not agreed" %>
          <% end%>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/39">
            Change<span class="govuk-visually-hidden"> child sponosoring conditions</span>
          </a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By sending this application you are confirming that, to the best of your knowledge, the details you are providing are correct. If the information is found to be false, this may impact your ability to sponsor.</p>

    <%= form_for @application, url: "/sponsor-a-child/check-answers", method: :post do |f| %>
      <%= f.govuk_submit t('accept_and_send.full', scope: "unaccompanied_minor") %>
    <% end %>


  </div>
</div>
