<% provide(:title, "Check your answers before sending your application - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Who are you?</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <%= render 'sponsor-a-child/answers_row',
          key: t('fullname.hint', scope: "unaccompanied_minor.questions"),
          value: @application.sponsor_full_name?,
          url: "/sponsor-a-child/steps/10",
          url_text: "name" %>

    <% if @application.has_other_names.present? && @application.has_other_names.casecmp("true").zero? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('other_name.short', scope: "unaccompanied_minor.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% @application.other_names.each do |name| %>
              <%= name.join(' ') %><br />
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sponsor-a-child/steps/13">
              Change<span class="govuk-visually-hidden"> host name</span>
            </a>
          </dd>
        </div>
    <% end %>
      
    <%= render 'sponsor-a-child/answers_row',
        key: t('email.short', scope: "unaccompanied_minor.questions"),
        value: @application.email,
        url: "/sponsor-a-child/steps/14",
        url_text: "email" %>

    <%= render 'sponsor-a-child/answers_row',
        key: t('phone_number.short', scope: "unaccompanied_minor.questions"),
        value: @application.phone_number,
        url: "/sponsor-a-child/steps/15",
        url_text: "number" %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ID
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.identification_type %><br />
          <%= @application.identification_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/16">
            Change<span class="govuk-visually-hidden"> id</span>
          </a>
        </dd>
      </div>

      <%= render 'sponsor-a-child/answers_row',
        key:  t('sponsor_date_of_birth.short', scope: "unaccompanied_minor.questions"),
        value: @application.sponsor_date_of_birth_as_string,
        url: "/sponsor-a-child/steps/18",
        url_text: "date of birth" %>

      <%= render 'sponsor-a-child/answers_row',
        key:  "Nationality",
        value: @application.nationality,
        url: "/sponsor-a-child/steps/19",
        url_text: "nationality" %>

      <% if @application.other_nationalities.blank? %>

        <%= render 'sponsor-a-child/answers_row',
          key:  "Other nationalities",
          value: "None",
          url: "/sponsor-a-child/steps/19",
          url_text: "nationality" %>
      <% else %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Other nationalities
          </dt>
            <% @application.other_nationalities.each do |nationality| %>
              <%= nationality.first %><br />
            <% end %>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sponsor-a-child/steps/20">
              Change<span class="govuk-visually-hidden"> other nationalities</span>
            </a>
          </dd>
        </div>
      <% end %>
    </dl>

    <h2 class="govuk-heading-m">Where will the child live?</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <%= render 'sponsor-a-child/answers_row',
      key:  "Address",
      value: @application.formatted_address?,
      url: "/sponsor-a-child/steps/23",
      url_text: "address" %>

    <% if !@application.adults_at_address.nil? && !@application.adults_at_address.empty? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Over 16 years old
        </dt>
        <dd class="govuk-summary-list__value">
          <% @application.adults_at_address.each do |key, val| %>
            <%= "#{@application.adults_at_address[key]["given_name"]} #{@application.adults_at_address[key]["family_name"]}" %><br />
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/28">
            Change<span class="govuk-visually-hidden"> guest name</span>
          </a>
        </dd>
      </div>
    <% end %>

    </dl>

    <h2 class="govuk-heading-m">Tell us about the child</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <%= render 'sponsor-a-child/answers_row',
      key:  "Full name",
      value: @application.minor_full_name?,
      url: "/sponsor-a-child/steps/32",
      url_text: "name" %>

      <% if @application.minor_contact_type.blank? || @application.minor_contact_type.include?("none") %>
        <%= render 'sponsor-a-child/answers_row',
          key: "Contact",
          value: "They cannot be contacted",
          url: "/sponsor-a-child/steps/33",
          url_text: "contact" %>
      <% else %>
        <% if @application.minor_email.present? %>
          <%= render 'sponsor-a-child/answers_row',
            key: "Contact email",
            value: @application.minor_email,
            url: "/sponsor-a-child/steps/33",
            url_text: "contact" %>
        <% end %>
        <% if @application.minor_phone_number.present? %>
          <%= render 'sponsor-a-child/answers_row',
            key: "Contact telephone",
            value: @application.minor_phone_number,
            url: "/sponsor-a-child/steps/33",
            url_text: "contact" %>
        <% end %> 
      <% end %>

      <%= render 'sponsor-a-child/answers_row',
            key: t('minor_date_of_birth.short', scope: "unaccompanied_minor.questions"),
            value: @application.minor_date_of_birth_as_string,
            url: "/sponsor-a-child/steps/34",
            url_text: "date of birth" %>

      <%= render 'sponsor-a-child/answers_row',
            key: t('uk_parental_consent.short', scope: "unaccompanied_minor.questions"),
            value: @application.uk_parental_consent_filename,
            url: "/sponsor-a-child/steps/36",
            url_text: "form" %>

      <%= render 'sponsor-a-child/answers_row',
            key: t('ukraine_parental_consent.short', scope: "unaccompanied_minor.questions"),
            value: @application.ukraine_parental_consent_filename,
            url: "/sponsor-a-child/steps/37",
            url_text: "form" %>
    </dl>

    <h2 class="govuk-heading-m">Sponsor declaration</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    
    <% if @application.errors.include?(:privacy_statement_confirm) %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you consent to the data sharing agreement?
        </dt>
        <dd class="govuk-summary-list__value">
            <span class="govuk-error-message"><%= @application.errors[:agree_privacy_statement].join %></span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sponsor-a-child/steps/38">
            Change<span class="govuk-visually-hidden"> data sharing agreement</span>
          </a>
        </dd>
      </div>
    <% else %>
      <%= render 'sponsor-a-child/answers_row',
        key: "Do you consent to the data sharing agreement?",
        value: (@application.privacy_statement_confirm == "true" ? "Agreed" : "Not agreed"),
        url: "/sponsor-a-child/steps/38",
        url_text: "data sharing agreement" %>
    <% end %>
    
    <%= render 'sponsor-a-child/answers_row',
        key: "Do you commit to the conditions of sponsoring an unaccompanied child?",
        value: (@application.sponsor_declaration == "true" ? "Agreed" : "Not agreed"),
        url: "/sponsor-a-child/steps/39",
        url_text: "child sponsoring declaration" %>

    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By sending this application you are confirming that, to the best of your knowledge, the details you are providing are correct. If the information is found to be false, this may impact your ability to sponsor.</p>

    <%= form_for @application, url: "/sponsor-a-child/check-answers", method: :post do |f| %>
      <%= f.govuk_submit t('accept_and_send.full', scope: "unaccompanied_minor") %>
    <% end %>


  </div>
</div>
