<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Apply for permission to sponsor a child fleeing Ukraine without a parent
    </h1>

    <p>
      <strong>
        Application incomplete
      </strong>
    </p>

    <p>
      You have completed 0 of 4 sections.
    </p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Sponsor details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/10" aria-describedby="names">
                  Name(s)
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_details_names?) %>">
              <%= @application.sponsor_details_names? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/14" aria-describedby="contact-details">
                  Contact details
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_details_contact_details?) %>">
              <%= @application.sponsor_details_contact_details? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/16" aria-describedby="additional-details">
                  Additional details
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_details_additional_details?) %>">
              <%= @application.sponsor_details_additional_details? %>
            </strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Household member's details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="household">
                  Household
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="household-members">
                  Household members
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Child's details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="child-personal-details">
                  Child's personal details
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="upload-parental-consent-British">
                  Upload parental consent (British)
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="upload-parental-consent-Ukraine">
                  Upload parental consent (Ukraine)
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Send your application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Consent to sharing your data
              </span>
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey">Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Sponsor declaration
              </span>
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey">Cannot start yet</strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Check your answers and send
              </span>
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey">Cannot start yet</strong>
          </li>
        </ul>
      </li>
    </ol>

    <%= form_for @application, url: "/sponsor-a-child/cancel/#{params["reference"]}", method: :post do |f| %>
      <%= f.govuk_submit t('cancel_application.cancel', scope: "unaccompanied_minor"),
                         name: "cancel_application",
                         class: "govuk-button--warning"%>
    <% end %>
  </div>
</div>

<%= content_for :extra_css do %>
  <%= stylesheet_pack_tag 'gds-task-list', media: 'all' %>
<% end %>
