<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Apply for permission to sponsor a child fleeing Ukraine without a parent
    </h1>

    <p>
      <strong>
        Application incomplete
      </strong>
    </p>

    <p>
      You have completed <%= @application.number_of_completed_sections? %> of <%= @application.number_of_sections? %> sections.
    </p>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> Who are you?
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/10" aria-describedby="names">
                  Name
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_details_names?) %>">
              <%= @application.sponsor_details_names? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/14" aria-describedby="contact-details">
                  Contact details
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_details_contact_details?) %>">
              <%= @application.sponsor_details_contact_details? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/16" aria-describedby="additional-details">
                  Additional details
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_details_additional_details?) %>">
              <%= @application.sponsor_details_additional_details? %>
            </strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Where will the child live?
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/23" aria-describedby="household">
                  Address
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_address_details?) %>">
              <%= @application.sponsor_address_details? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/25" aria-describedby="household-members">
                  Who will live there?
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_living_there_details?) %>">
              <%= @application.sponsor_living_there_details? %>
            </strong>
          </li>
        </ul>
      </li>

<!-- Dynamic section based on the answers to the who lives there question -->
    <% if @application.is_adults_at_address_populated? %>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Residents' details
        </h2>
        <ul class="app-task-list__items">
          <% @application.adults_at_address.each do |key, val| %>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <%= link_to("#{val["given_name"]} #{val["family_name"]} details", "/sponsor-a-child/steps/29/#{key}", "aria-describedby": "child-personal-details") %>
              </span>
              <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_resident_details?(val["date_of_birth"], val["id_type_and_number"])) %>">
                <%= @application.sponsor_resident_details?(val["date_of_birth"], val["id_type_and_number"]) %>
              </strong>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number"><%= @application.heading_number?(3) %> </span> Tell us about the child
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/32" aria-describedby="child-personal-details">
                  Child's personal details
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_child_details?) %>">
              <%= @application.sponsor_child_details? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/35" aria-describedby="upload-parental-consent-British">
                  Upload parental consent (British)
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.uk_consent_form?) %>">
              <%= @application.uk_consent_form? %>
            </strong>
          </li>
          <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/sponsor-a-child/steps/37" aria-describedby="upload-parental-consent-Ukraine">
                  Upload parental consent (Ukraine)
                </a>
              </span>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.ukraine_consent_form?) %>">
              <%= @application.ukraine_consent_form? %>
            </strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number"><%= @application.heading_number?(4) %> </span> Send your application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a href="/sponsor-a-child/steps/38" aria-describedby="consent-to-share-your-data">
              Consent to sharing your data
            </a>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.privacy_consent?) %>">
              <%= @application.privacy_consent? %>
            </strong>
          </li>
          <li class="app-task-list__item">
            <a href="/sponsor-a-child/steps/39" aria-describedby="sponsor-declaration">
              Sponsor declaration
            </a>
            <strong class="govuk-tag app-task-list__tag <%= @application.status_styles?(@application.sponsor_declaration?) %>">
              <%= @application.sponsor_declaration? %>
            </strong>
          </li>
        <% if @application.is_application_ready_to_be_sent? %>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Check your answers and send
            </span>
            <a href="/sponsor-a-child/check-answers" aria-describedby="check-your-answers-and-send">
              Sponsor declaration
            </a>
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey">Not started</strong>
          </li>
        <% else %>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Check your answers and send
            </span>
            <strong class="govuk-tag app-task-list__tag govuk-tag--grey">Cannot start yet</strong>
          </li>
        <% end %>
        </ul>
      </li>
    </ol>

    <%= form_for @application, url: "/sponsor-a-child/save_or_cancel", method: :post do |f| %>
      <%= f.govuk_submit t('cancel_application.cancel', scope: "unaccompanied_minor"),
                         name: "cancel_application",
                         class: "govuk-button--warning"%>
    <% end %>
  </div>
</div>
