<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <% if request.query_string == 'check' %>
      <% formurl = "/expression-of-interest/steps/14?check" %>
    <% else %>
      <% formurl = "/expression-of-interest/steps/14" %>
    <% end %>

    <%= form_for @application, url: formurl, method: :post do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :allow_pet %>

      <h1 class="govuk-heading-l">
       <%= t('allow_pet.full', scope: "expression_of_interest.questions")  %>
      </h1>

      <%= f.govuk_collection_radio_buttons :allow_pet,
          @application.allow_pet_types.map{ |type| OpenStruct.new(id: t("#{type}.type", scope: "expression_of_interest.pet_option_description"), name: t("#{type}.short", scope: "expression_of_interest.pet_option_description"), description: t("#{type}.full", scope: "expression_of_interest.pet_option_description"))},
          :id,
          :name,
          :description,
          legend: { text: t('allow_pet.full', scope: "expression_of_interest.questions"), hidden:true},
          hint: { text: t('allow_pet.hint', scope: "expression_of_interest.questions"), hidden:true}
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
