<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "shared/back_link" %>

    <% if request.query_string == 'check' %>
      <% formurl = "/expression-of-interest/steps/3?check" %>
    <% else %>
      <% formurl = "/expression-of-interest/steps/3" %>
    <% end %>

    <%= form_for @application, url: formurl, method: :post do |f| %>
    <%= f.govuk_error_summary link_base_errors_to: :phone_number %>

      <h1 class="govuk-heading-l">
       <%= t('phone_number.full', scope: "expression_of_interest.questions")  %>
      </h1>

      <%= f.govuk_text_field :phone_number,
        label: { text: t('phone_number.full', scope: "expression_of_interest.questions"), hidden:true },
        type: "tel"
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>

