
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/expression-of-interest/steps/16", method: :post do |f| %>
      <%= f.govuk_check_boxes_fieldset :agree_future_contact, multiple: false, legend: { text: t('agree_future_contact.full', scope: "expression_of_interest.questions"), size: 'm' } do %>
        <p class="govuk-body">
          <%= t('agree_future_contact.comment', scope: "expression_of_interest.questions") %>
        </p>
        <%= f.govuk_check_box :agree_future_contact, "true", "false", multiple: false, link_errors: true, label: { text: t('agree_future_contact.full', scope: "expression_of_interest.questions") } %><% end %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
