<% provide(:title, session[:has_error] || '' + t('fullname.full', scope: "expression_of_interest.questions") + " - ") %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if request.query_string == 'check' %>
      <% formurl = "/expression-of-interest/steps/1?check" %>
    <% else %>
      <% formurl = "/expression-of-interest/steps/1" %>
    <% end %>

    <%= form_for @application, url: formurl, method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :fullname %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-l">
          <%= t('fullname.full', scope: "expression_of_interest.questions")  %>
          </h1>
        </legend>
      </fieldset>

      <%= f.govuk_text_field :fullname,
        label: { text: t('fullname.full', scope: "expression_of_interest.questions"), hidden:true},
        type: "text",
        inputmode: "text"
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>

