<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @application.hosting_start_date.present?
      @application.hosting_start_date[1] = @application.hosting_start_date["1"]
      @application.hosting_start_date[2] = @application.hosting_start_date["2"]
      @application.hosting_start_date[3] = @application.hosting_start_date["3"]
      end
    %>

    <% if request.query_string == 'check' %>
      <% formurl = "/expression-of-interest/steps/9?check" %>
    <% else %>
      <% formurl = "/expression-of-interest/steps/9" %>
    <% end %>

    <%= form_for @application, url: formurl, method: :post do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :host_as_soon_as_possible %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-l">
            <%= t('hosting_start_date.full', scope: "expression_of_interest.questions")  %>
          </h1>
        </legend>
    
      <%= f.govuk_radio_buttons_fieldset :host_as_soon_as_possible, legend: { text: t('hosting_start_date.full', scope: "expression_of_interest.questions"), hidden:true } do %>
        <%= f.govuk_radio_button :host_as_soon_as_possible, :true, label: { text: "As soon as possible" } %>
        <%= f.govuk_radio_button :host_as_soon_as_possible, :false, label: { text: "From a specific date" } do %>
            <%= f.govuk_date_field :hosting_start_date,
              hosting_start_date: true,
              legend: { text: "", hidden: true }
            %>
        <% end %>
      <% end %>
      </fieldset>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
