<% provide(:title, (session[:has_error] || '') + t('more_properties.full', scope: "expression_of_interest.questions") + " - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if request.query_string == 'check' %>
      <% formurl = "/expression-of-interest/steps/7?check" %>
    <% else %>
      <% formurl = "/expression-of-interest/steps/7" %>
    <% end %>

    <%= form_for @application, url: formurl, method: :post do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :more_properties %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-heading-l">
          <%= t('more_properties.full', scope: "expression_of_interest.questions")  %>
          </h1> 
        </legend>

      <%= f.govuk_collection_radio_buttons :more_properties,
          @application.more_properties_types.map{ |type| OpenStruct.new(id: type, name: t(type, scope: "expression_of_interest.questions.more_properties")) },
          :id,
          :name,
          legend: { text: t('more_properties.full', scope: "additional_info.questions"), hidden:true },
          hint: { text: t('more_properties.hint', scope: "additional_info.questions")}
      %>
      </fieldset>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
