<div class="homes-for-ukraine">
  <img src="/images/HFU-Banner.png"
       class="attachment-full size-full"
       alt="Homes for Ukraine"
       loading="lazy"
       srcset="/images/HFU-Banner.png 1400w, /images/HFU-Banner-768x274.png 768w"
       sizes="(max-width: 1400px) 100vw, 1400px">
</div>

<p class="gem-c-lead-paragraph">If you have a Ukrainian family member, check if the <%= govuk_link_to 'Ukraine Family Scheme', 'https://www.gov.uk/guidance/apply-for-a-ukraine-family-scheme-visa' %> applies to you.</p>

<h1 class="gem-c-title__text govuk-heading-l">
  Homes for Ukraine
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">The UK is one of the most generous nations in the world and the British public are now being asked to go one step further and open their homes to those fleeing the war in Ukraine.</p>
    <p class="gem-c-lead-paragraph">We have a long history of helping others in their hour of need and the Homes for Ukraine Scheme offers a lifeline to those forced to flee their homes.</p>
  </div>
</div>


<h1 class="gem-c-title__text govuk-heading-l">
  How this works
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">This bespoke scheme offers a route to those who want to come to the UK and have someone here willing to provide them with a home. It will enable individuals, charities, community groups and businesses to volunteer accommodation and provide a route to safety for people fleeing Ukraine.</p>
    <p class="gem-c-lead-paragraph">Sponsors should provide accommodation for as long as they are able, but we have a minimum expectation of 6 months.</p>
    <p class="gem-c-lead-paragraph">Someone is eligible for the scheme if they are a Ukrainian national or the immediate family member of a Ukrainian national, and were resident in Ukraine prior to 1 January 2022.</p>
    <p class="gem-c-lead-paragraph">We will welcome as many arrivals as possible, based on the number of sponsors.</p>
    <p class="gem-c-lead-paragraph">People arriving under this scheme will be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Live and work in the UK for up to three years</li>
      <li>Access healthcare, benefits, employment support, education, and English language tuition</li>
    </ul>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  I'm interested how do I register?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">If you have a named person who you wish to sponsor you should get in contact with them directly and prepare to fill in a visa application with all their details and yours.</p>
    <p class="gem-c-lead-paragraph">If you don’t know anyone who you wish to sponsor you may wish to get in touch with charities, faith groups or local community organisations who are starting to make connections between individuals.</p>
    <p class="gem-c-lead-paragraph">You can also record your interest as an <%= govuk_link_to 'individual', '/individual' %> or as an organisation (for example charity, business, community group). Please read the rest of this form and the <%= govuk_link_to 'FAQs', 'https://www.gov.uk/guidance/homes-for-ukraine-scheme-frequently-asked-questions' %> first before recording your offer of support, and we will keep in touch with you with updates as the scheme develops.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_link_to 'Register your interest as an individual', route_for(:individual) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_button_link_to 'Register your interest as an organisation', route_for(:organisation) %>
  </div>
</div>

<% if @feature_eoi_journey_enabled %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_button_link_to 'New EOI', href="/individual/self-assessment/start"  %>
    </div>
  </div>
<% end %>

<h1 class="gem-c-title__text govuk-heading-l">
  What sort of accommodation am I expected to provide?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">If you have a residential spare room or separate self-contained accommodation that is unoccupied then please come forward.  The accommodation must be available for at least 6 months, fit for people to live in, and suitable for the number of people to be accommodated.</p>
    <p class="gem-c-lead-paragraph">Further details on types of accommodation suitable can be found in our <%= govuk_link_to 'FAQs', 'https://www.gov.uk/guidance/homes-for-ukraine-scheme-frequently-asked-questions' %>.</p>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  Do I need to provide meals or just accommodation?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">Just accommodation. There is nothing stopping sponsors offering meals should they wish to.</p>
    <p class="gem-c-lead-paragraph">You will not be expected to cover the costs of food and living expenses (although you may wish to offer this yourself).</p>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  I've recorded my interest, what happens now?
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="gem-c-lead-paragraph">You will be kept updated. In the first phase of the scheme, sponsors will be able to bring named Ukrainians and their immediate family members to the UK. If you have a named family or individual you wish to support you will be able to fill in a form requesting to sponsor them.</p>
    <p class="gem-c-lead-paragraph">Please see further <%= govuk_link_to 'FAQs', 'https://www.gov.uk/guidance/homes-for-ukraine-scheme-frequently-asked-questions' %> for those interested in becoming a sponsor.</p>
    <p class="gem-c-lead-paragraph">Please read the <%= govuk_link_to 'privacy notice', 'https://www.gov.uk/government/publications/homes-for-ukraine-scheme-expressions-of-interest-eois-privacy-notices' %> for further information about how the data you provide will be used before you proceed with your registration.</p>
  </div>
</div>

<h1 class="gem-c-title__text govuk-heading-l">
  Follow Us
</h1>

<ul>
  <li><a href="https://twitter.com/luhc" target="_blank" rel="external noopener">
    <span>Twitter @luhc</span></a>
  </li>

  <li><a href="https://www.facebook.com/luhcgovuk" target="_blank" rel="external noopener">
    <span>Facebook</span></a>
  </li>
</ul>
