<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Application details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('sponsor_type.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.sponsor_type, scope: "organisation.sponsor_type") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/1">
            Change<span class="govuk-visually-hidden"> sponsor type</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('living_space.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.living_space, scope: "organisation.living_space_types") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/2">
            Change<span class="govuk-visually-hidden"> living space type selection</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('step_free.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.step_free, scope: "organisation.step_free") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/3">
            Change<span class="govuk-visually-hidden"> step free type</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('single_room_count.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.single_room_count, scope: "organisation.single_room_count") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/4">
            Change<span class="govuk-visually-hidden"> single room count choice</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('double_room_count.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.double_room_count) %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/5">
            Change<span class="govuk-visually-hidden"> double rooms available</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('double_room_count.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.double_room_count) %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/6">
            Change<span class="govuk-visually-hidden"> double rooms available</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('postcode.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.postcode %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/7">
            Change<span class="govuk-visually-hidden"> postcode</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('organisation_name.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.organisation_name, scope: "organisation.organisation_name") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/8">
            Change<span class="govuk-visually-hidden"> organisation name</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('organisation_type.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.organisation_type, scope: "organisation.organisation_type") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/9">
            Change<span class="govuk-visually-hidden"> organisation type</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('agree_future_contact.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.agree_future_contact, scope: "organisation.agree_future_contact") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/10">
            Change<span class="govuk-visually-hidden"> willing to answer more questions</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.fullname %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/11">
            Change<span class="govuk-visually-hidden"> full name</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/12">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.phone_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/13">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('agree_privacy_statement.short', scope: "organisation.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.agree_privacy_statement %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/organisation/steps/14">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <%= form_for @application, url: "/organisation", method: :post do |f| %>
      <%= f.govuk_submit t('Accept and send') %>
    <% end %>
  </div>
</div>
