<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: "shared/back_link" %>

    <h2 class="govuk-heading-m">Enter your full hosting address for property one</h2>

    <p class="hint">This is the address for property one you are offering for hosts</p>

    <%= form_for @application, url: "/additional-info/steps/7", method: :post do |f| %>
      <%= f.govuk_text_field :property_one_line_1,
                             label: { text: t('address_line_1.full', scope: "additional_info.questions") },
                             type: "text"
      %>
      <%= f.govuk_text_field :property_one_line_2,
                             label: { text: t('address_line_2.full', scope: "additional_info.questions") },
                             type: "text"
      %>
      <%= f.govuk_text_field :property_one_town,
                             label: { text: t('address_town.full', scope: "additional_info.questions") },
                             type: "text",
                             width: 20
      %>
      <%= f.govuk_text_field :property_one_postcode,
                             label: { text: t('address_postcode.full', scope: "additional_info.questions") },
                             type: "text",
                             width: 10
      %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
