<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/sponsor-a-child/steps/10", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :given_name %>

    <h1 class="govuk-heading-l"><%= t('fullname.full', scope: "unaccompanied_minor.questions")%></h1>

      <%= f.govuk_fieldset legend: { text: "", hidden: true },
        hint: { text: t('fullname.hint', scope: "unaccompanied_minor.questions") } do %>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    I'm not sure how to enter my name
                    </span>
                </summary>
                <div class="govuk-details__text">Enter your name as it is written on your identity documents. Use the English spelling if it is written in two languages.
                <br/>'Given names' - enter your first name and any of other names like these, for example:
                <ul>
                <li>• middle names</li>
                <li>• a suffix (for example, Jr)</li>
                <li>• a patronymic name (common in Ukraine)</li>
                </ul>
                <br/>'Family name' - enter your last name (surname).</div>
                
            </details>
            <%= f.govuk_text_field :given_name, label: { text: 'Given name(s)' }, type: "text" %>
            <%= f.govuk_text_field :family_name, label: { text: 'Family name' }, type: "text" %>
      <% end %>

      <%= f.govuk_submit t('continue') %>
      <% if @feature_save_and_return_active == true %>
        <a class="govuk-link govuk-!-font-size-19" href="/sponsor-a-child/save-and-return">Save and return later</a>
      <% end %>
    <% end %>
  </div>
</div>
