<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/sponsor-a-child/steps/12", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :other_given_name %>

    <h1 class="govuk-heading-l"><%= t('other_fullname.full', scope: "unaccompanied_minor.questions")%></h1>

      <%= f.govuk_fieldset legend: { text: "", hidden: true },
      hint: { text: "", hidden: true } do %>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    I'm not sure how to enter my name
                    </span>
                </summary>
                <div class="govuk-details__text">Enter your name as it is written on your identity documents. Use the English spelling if it is written in two languages.
                <br/>
                <br/>'Given names' - enter your first name and any of other names like these, for example:
                <ul>
                <li> middle names</li>
                <li> a suffix (for example, Jr)</li>
                <li> a patronymic name (common in Ukraine)</li>
                </ul>
                <div>
                'Family name' - enter your last name (surname).</div>
                </div>
            </details>
            <%= f.govuk_text_field :other_given_name, label: { text: 'Given names' }, type: "text", value: @previously_entered_other_given_name %>
            <%= f.govuk_text_field :other_family_name, label: { text: 'Family name' }, type: "text", value: @previously_entered_other_family_name %>
      <% end %>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>
  </div>
</div>
