<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--l">You have added <%= @application.other_names.length() %> other names</caption>
        <% @application.other_names.each_with_index do |name, index| %>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Other names (<%= index+1 %>)</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= name[0] %> <%= name[1] %></td>
            <td class="govuk-table__cell">
              <%= link_to("Remove", "/sponsor-a-child/remove_other_name/#{name[0]}/#{name[1]}") %>
            </td>
            </tr>
        </tbody>
        <% end %>
    </table>

    <div>
        <%= govuk_button_link_to 'Add another name', "/sponsor-a-child/steps/12", class: "govuk-button--secondary"  %>
    </div>

    <div>
      <%= govuk_button_link_to 'Continue', "/sponsor-a-child/task-list"  %>
    </div>

  </div>
</div>