<% provide(:title, session[:has_error] || '' + t('email.short', scope: "unaccompanied_minor.questions") + " - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/14#{@save}", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :email %>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-l"><%= t('email.short', scope: "unaccompanied_minor.questions")%></h1>
        </legend>
    <p class="govuk-body"><%= t('email.full', scope: "unaccompanied_minor.questions")%></p>
    
      <%= f.govuk_text_field :email,
                             label: { text:  t('email.label_email', scope: "unaccompanied_minor.questions")},
                             type: "text",
                             inputmode: "email"
      %>

      <%= f.govuk_text_field :email_confirm,
                             label: { text: t('email.label_confirm_email', scope: "unaccompanied_minor.questions") },
                             type: "text",
                             inputmode: "email"
      %>
      </fieldset>
      
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    <% end %>
    <% if @save_and_return_message %>
      <p class="govuk-body">Confirm your email address and phone number and we will send you a link so you can access your saved application later.</p>
      <p>We will send a one-time code to your phone each time you access your application.</p>
    <% end %>
  </div>
</div>
