<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/sponsor-a-child/steps/14#{@save}", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :email %>

    <h1 class="govuk-heading-l"><%= t('email.short', scope: "unaccompanied_minor.questions")%></h1>
    <p class="govuk-body"><%= t('email.full', scope: "unaccompanied_minor.questions")%></p>
    
      <%= f.govuk_text_field :email,
                             label: { text: "", hidden: true },
                             hint: { text: t('email.hint', scope: "unaccompanied_minor.questions")},
                             type: "email"
      %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        
        <% if @feature_save_and_return_active == true %>
          <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
        <% end %>
      </div>
    <% end %>
    <% if @save_and_return_message %>
      <p class="govuk-body"><% @save_and_return_message %></p>
    <% end %>
  </div>
</div>
