<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <%= form_for @application, url: "/sponsor-a-child/steps/15#{@save}", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :phone_number %>

    <h1 class="govuk-heading-l"><%= t('phone_number.short', scope: "unaccompanied_minor.questions")%></h1>
    <p class="govuk-body"><%= t('phone_number.full', scope: "unaccompanied_minor.questions")%>
    <br/>
    <br/>
    If you need to use someone else’s phone, make sure you have their permission to do so.
    
    </p>


      <%= f.govuk_text_field :phone_number,
        label: { text: t('phone_number.label', scope: "unaccompanied_minor.questions") },
        type: "tel"
      %>

      <%= f.govuk_text_field :phone_number_confirm,
        label: { text: "Confirm mobile number"  },
        type: "tel"
      %>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    <% end %>
    <% if @save_and_return_message %>
      <p class="govuk-body">Confirm your email address and phone number and we will send you a link so you can access your saved application later.</p>
      <p>We will send a one-time code to your phone each time you access your application.</p>
    <% end %>
  </div>
</div>
