<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

     <%= form_for @application, url: "/sponsor-a-child/steps/15#{@save}", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :phone_number %>

    <h1 class="govuk-heading-l"><%= t('phone_number.short', scope: "unaccompanied_minor.questions")%></h1>
    <p class="govuk-body"><%= t('phone_number.full', scope: "unaccompanied_minor.questions")%></p>


      <%= f.govuk_text_field :phone_number,
        label: { text: "", hidden: true },
        hint: { text: t('phone_number.hint', scope: "unaccompanied_minor.questions")},
        type: "tel"
      %>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        
        <% if @feature_save_and_return_active == true %>
          <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
        <% end %>
      </div>
    <% end %>
    <% if @save_and_return_message %>
      <p class="govuk-body"><% @save_and_return_message %></p>
    <% end %>
  </div>
</div>
