<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/17", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :no_identification_reason %>

    <h1 class="govuk-heading-l"><%= t('no_identity_documents.full', scope: "unaccompanied_minor.questions")%></h1>

      <%= f.govuk_text_area :no_identification_reason,
        label: { text: "", hidden: true},
        hint: { text: t('no_identity_documents.hint', scope: "unaccompanied_minor.questions")},
        type: "text",
        rows: 10
      %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>
  </div>
</div>
