<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/19", method: :post do |f| %>
    <%= f.govuk_error_summary link_base_errors_to: :nationality %>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-heading-l"><%= t('sponsor_nationality.full', scope: "unaccompanied_minor.questions")%></h1>
        </legend>

      <%= f.govuk_collection_select :nationality, @nationalities, :val, :name,
          :selected => @nationality,
          label: {  text: t('sponsor_nationality.hint_html', scope: "unaccompanied_minor.questions")}
           %>
      </fieldset>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>

    <% end %>
  </div>
</div>
