

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

     <h1 class="gem-c-title__text govuk-heading-l">
      How can we contact the child?
    </h1>

    <div class="govuk-inset-text">
    <%=@application.minor_full_name?%>
    </div>

   <p class="govuk-body">
    We may contact them to check how they feel about coming to the UK.
    <br/>
    <br/>
    Select all that apply

    </p>


    <%= form_for @application, url: "/sponsor-a-child/steps/24", method: :post do |f| %>
      <%= f.govuk_check_boxes_fieldset :minor_contact_type, multiple: false,
                                       legend: { text: t('minor_contact_details.short', scope: "unaccompanied_minor.questions"), size: "l", hidden: true } do %>

        <%= f.govuk_check_box :minor_contact_type, :passport, multiple: false, label: { text: "Email" } do %>
            <%= f.govuk_text_field :minor_email, label: { text: "Email" }, type: "text" %>
        <% end %>
        <%= f.govuk_check_box :minor_contact_type, :national_identity_card, multiple: false, label: { text: "Phone" } do %>
            <%= f.govuk_text_field :minor_phone_number, label: { text: "Phone number"  }, type: "text", hint: { text: "Include country codes" } %>
        <% end %>
        <%= f.govuk_check_box_divider %>
        <%= f.govuk_check_box :minor_contact_type, :none, exclusive: true, label: { text: "They cannot be contacted" } %>

      <% end %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
