<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/24", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :different_address %>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="gem-c-title__text govuk-heading-l">
      Will you (the sponsor) be living at this address?
    </h1>
        </legend>

    <div class="govuk-inset-text"><%= @application.formatted_address? %></div>

      <%= f.govuk_collection_radio_buttons :different_address,
          @application.different_address_types.map{ |type| OpenStruct.new(id: type, name: t(type, scope: "unaccompanied_minor.different_address")) },
          :id,
          :name,
          legend: { text: t('different_address.full', scope: "unaccompanied_minor.questions"), hidden: true },
          hint: { text: t('different_address.hint', scope: "unaccompanied_minor.questions")}%>
      </fieldset>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>
  </div>
</div>
