<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <%= form_for @application, url: "/sponsor-a-child/steps/24", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :different_address %>

    <h1 class="gem-c-title__text govuk-heading-l">
      Will you (the sponsor) be living at this address?
    </h1>

    <div class="govuk-inset-text"><%= @application.formatted_address? %></div>

      <%= f.govuk_collection_radio_buttons :different_address,
          @application.different_address_types.map{ |type| OpenStruct.new(id: type, name: t(type, scope: "unaccompanied_minor.different_address")) },
          :id,
          :name,
          legend: { text: t('different_address.full', scope: "unaccompanied_minor.questions"), hidden: true },
          hint: { text: t('different_address.hint', scope: "unaccompanied_minor.questions")}%>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        
        <% if @feature_save_and_return_active == true %>
          <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
        <% end %>
      </div>
    
    <% end %>
  </div>
</div>
