<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

     <%= form_for @application, url: "/sponsor-a-child/steps/26", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :sponsor_address_line_1 %>

    <h1 class="govuk-heading-l">Enter the address where you will be living in the UK</h1>

      <%= f.govuk_text_field :sponsor_address_line_1,
                             label: { text: t('address_line_1.full', scope: "unaccompanied_minor.questions") },
                             type: "text"
      %>
      <%= f.govuk_text_field :sponsor_address_line_2,
                             label: { text: t('address_line_2.full', scope: "unaccompanied_minor.questions") },
                             type: "text"
      %>
      <%= f.govuk_text_field :sponsor_address_town,
                             label: { text: t('address_town.full', scope: "unaccompanied_minor.questions") },
                             type: "text",
                             width: 20
      %>
      <%= f.govuk_text_field :sponsor_address_postcode,
                             label: { text: t('address_postcode.full', scope: "unaccompanied_minor.questions") },
                             type: "text",
                             width: 10
      %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        
        <% if @feature_save_and_return_active == true %>
          <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
        <% end %>
      </div>
    
    <% end %>
  </div>
</div>
