<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="gem-c-title__text govuk-heading-l">
      You have added <%= @application.number_of_adults? %> over 16 who will live with the child
    </h1>

    <p class="govuk-body">
      <strong>
        Residents
      </strong>
    </p>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <% @application.adults_at_address.each do |key, val| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            <%= "#{@application.adults_at_address[key]["given_name"]} #{@application.adults_at_address[key]["family_name"]}" %>
          </dt>
          <dd class="govuk-summary-list__actions">
            <%= link_to("Remove", "/sponsor-a-child/remove/#{key}") %>
          </dd>
        </div>
      <% end %>
    </dl>

    <%= govuk_button_link_to 'Add another person', "/sponsor-a-child/steps/27", class: "govuk-button--secondary"  %>

    <div class="govuk-button-group">
      <%= link_to("Continue", "/sponsor-a-child/task-list", class: "govuk-button") %>
      
      <% if @feature_save_and_return_active == true %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      <% end %>
    </div>
  </div>
</div>
