<% provide(:title, "Other adults living here added - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="gem-c-title__text govuk-heading-l">
      You have added <%= @application.number_of_adults? %> over 16 who will live with the child
    </h1>


    <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Residents</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            <% @application.adults_at_address.each do |key, val| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= "#{@application.adults_at_address[key]["given_name"]} #{@application.adults_at_address[key]["family_name"]}" %></td>
              <td class="govuk-table__cell">
                <%= link_to("Remove", "/sponsor-a-child/remove/#{key}") %></span>
              </td>
            </tr>
        </tbody>
        <% end %>
    </table>

    <%= govuk_button_link_to 'Add another person', "/sponsor-a-child/steps/27", class: "govuk-button--secondary"  %>

    <div class="govuk-button-group">
      <%= link_to("Continue", "/sponsor-a-child/task-list", class: "govuk-button") %>
      <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
    </div>
  </div>
</div>
