<% provide(:title, session[:has_error] || '' + "Enter this person's date of birth - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <%= form_for @application, url: "/sponsor-a-child/steps/29/#{params["key"]}", method: :post do |f| %>
    <%= f.govuk_error_summary link_base_errors_to: :adult_date_of_birth %>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="gem-c-title__text govuk-heading-l">
      Enter this person's date of birth
    </h1>
    </legend>
    </fieldset>

    <div class="govuk-inset-text">
      <%= "#{@adult["given_name"]} #{@adult["family_name"]}" %>
    </div>



    <div class="govuk-hint" id="unaccompanied-minor-minor-date-of-birth-hint">For example, 31 3 2010</div>


    <%= f.govuk_date_field :adult_date_of_birth,
        date_of_birth: true,
        legend: { text: "", hidden: true } %>


      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>

  </div>
</div>
