<% provide(:title, session[:has_error] || '' + t('resident_nationality.full', scope: "unaccompanied_minor.questions") + " - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/30/#{params["key"]}", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :adult_nationality %>


      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-heading-l"><%= t('resident_nationality.full', scope: "unaccompanied_minor.questions")%></h1>
        </legend>

    <div class="govuk-inset-text">
      <%= "#{@adult["given_name"]} #{@adult["family_name"]}" %>
    </div>

      <%= f.govuk_collection_select :adult_nationality, @nationalities, :val, :name,
                                    label: { text: "Select their country of nationality" }
      %>
    </fieldset>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>

  </div>
</div>
