<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>
    
    <%= form_for @application, url: "/sponsor-a-child/steps/31/#{params["key"]}", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :adult_identification_type %>

    <h1 class="govuk-heading-l"><%= t('resident_identity_documents.full', scope: "unaccompanied_minor.questions")%></h1>

      <%= f.govuk_radio_buttons_fieldset :adult_identification_type, legend: { text: "", hidden: true }, hint: { text: t('resident_identity_documents.hint_html', :name => "#{@adult["given_name"]} #{@adult["family_name"]}", scope: "unaccompanied_minor.questions")} do %>

        <%= f.govuk_radio_button :adult_identification_type, :passport, label: { text: "Passport" } do %>
          <%= f.govuk_text_field :adult_passport_identification_number, label: { text: "Passport number" }, type: "text" %>
        <% end %>
        <%= f.govuk_radio_button :adult_identification_type, :national_identity_card, label: { text: "National Identity card" } do %>
          <%= f.govuk_text_field :adult_id_identification_number, label: { text: "National Identity card number"  }, type: "text"  %>
        <% end %>
        <%= f.govuk_radio_button :adult_identification_type, :refugee_travel_document, label: { text: "Refugee travel document" } do %>
          <%= f.govuk_text_field :adult_refugee_identification_number, label: { text: "Refugee travel document number"  }, type: "text"  %>
        <% end %>
        <%= f.govuk_check_box_divider %>
        <%= f.govuk_radio_button :adult_identification_type, :none, label: { text: "I don't have any of these" } %>

      <% end %>
      <%= f.govuk_submit t('continue') %>
      
      <% if @feature_save_and_return_active == true %>
        <a class="govuk-link govuk-!-font-size-19" href="/sponsor-a-child/save-and-return">Save and return later</a>
      <% end %>
    
    <% end %>

  </div>
</div>
