<% provide(:title, (session[:has_error] || '') + t('resident_identity_documents.full', scope: "unaccompanied_minor.questions") + " - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/31/#{params["key"]}", method: :post do |f| %>

    <%= f.govuk_error_summary link_base_errors_to: :adult_identification_type %>

    <h1 class="govuk-heading-l"><%= t('resident_identity_documents.full', scope: "unaccompanied_minor.questions")%></h1>

    <div class="govuk-inset-text">
      <%= "#{@adult["given_name"]} #{@adult["family_name"]}" %>
    </div>

      <%= f.govuk_radio_buttons_fieldset :adult_identification_type, legend: { text: "", hidden: true } do %>

        <%= f.govuk_radio_button :adult_identification_type, :passport, label: { text: "Passport" }, link_errors: true do %>
          <%= f.govuk_text_field :adult_passport_identification_number, label: { text: "Passport number" }, type: "text" %>
        <% end %>
        <%= f.govuk_radio_button :adult_identification_type, :national_identity_card, label: { text: "National identity card" } do %>
          <%= f.govuk_text_field :adult_id_identification_number, label: { text: "National identity card number"  }, type: "text" ,inputmode:"text" %>
        <% end %>
        <%= f.govuk_radio_button :adult_identification_type, :biometric_residence, label: { text: "Biometric Residence Permit or Biometric Residence Card" } do %>
          <%= f.govuk_text_field :adult_biometric_residence_identification_number, label: { text: "Biometric Residence Permit number or Biometric Residence Card number"  }, type: "text" , inputmode:"text" %>
        <% end %>
        <%= f.govuk_check_box_divider %>
        <%= f.govuk_radio_button :adult_identification_type, :none, label: { text: "I don't have any of these" } %>

      <% end %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>

    <% end %>

  </div>
</div>
