<% provide(:title, "Enter the name of the child you want to sponsor - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/32", method: :post do |f| %>

    
     <%= f.govuk_error_summary link_base_errors_to: :minor_given_name %>

     <h1 class="gem-c-title__text govuk-heading-l">
      Enter the name of the child you want to sponsor
    </h1>

      <%= f.govuk_fieldset legend: { text: "", hidden: true } do %>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    I'm not sure how to enter their name
                    </span>
                </summary>
                <div class="govuk-details__text">Enter their name as shown on their identity documents. Use the English spelling if it is written in two languages. <br aria-hidden="true">
                <br aria-hidden="true">
                'Given names': enter their first name and any other names like these, for example:

                <ul class="govuk-list govuk-list--bullet">
                <li> middle names </li>
                <li> a suffix (for example, Jr) </li>
                <li> a patronymic name (common in Ukraine) </li>
                </ul>
                <div>
                'Family name': enter their last name (surname).</div>
                </div>

            </details>
            <%= f.govuk_text_field :minor_given_name, label: { text: 'Given names' }, type: "text" %>
            <%= f.govuk_text_field :minor_family_name, label: { text: 'Family name' }, type: "text" %>
      <% end %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
      <% end %>
   </div>
</div>


