<% provide(:title, session[:has_error] || '' + "How can we contact the child? - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     <%= form_for @application, url: "/sponsor-a-child/steps/33", method: :post do |f| %>

     <%= f.govuk_error_summary link_base_errors_to: :minor_email %>

     <h1 class="gem-c-title__text govuk-heading-l">
      How can we contact the child?
    </h1>

    <div class="govuk-inset-text">
      <%=@application.minor_full_name?%>
    </div>

    <p class="govuk-body">

      We may contact them to check how they feel about coming to the UK.
      <br/>
      <br/>
      Select all that apply

    </p>

    <%= f.govuk_check_boxes_fieldset :minor_contact_type, multiple: true,
                                       legend: { text: "", hidden: true } do %>

        <%= f.govuk_check_box :minor_contact_type, 'email', label: { text: "Email" }, link_errors: true do %>
            <%= f.govuk_text_field :minor_email, label: { text: "Email" }, type: "text" %>
            <%= f.govuk_text_field :minor_email_confirm, label: { text: "Confirm email" }, type: "text" %>
        <% end %>
        <%= f.govuk_check_box :minor_contact_type, 'telephone',  label: { text: "Phone" } do %>
            <%= f.govuk_text_field :minor_phone_number, label: { text: "Phone number"  }, type: "text", hint: { text: "Include country code" } %>
            <%= f.govuk_text_field :minor_phone_number_confirm, label: { text: "Confirm phone number"  }, type: "text" %>
        <% end %>
        <%= f.govuk_check_box_divider %>
        <%= f.govuk_check_box :minor_contact_type, 'none', exclusive: true, label: { text: "They cannot be contacted" } %>

      <% end %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>
  </div>
</div>
