<% provide(:title, "Upload the Ukraine certified consent form - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/upload-ukraine/37", method: :post do |f| %>
    
    <%= f.govuk_error_summary link_base_errors_to: :ukraine_parental_consent %>
    

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="gem-c-title__text govuk-heading-xl">
            Upload the Ukraine certified consent form
          </h1>
        </legend>
      </fieldset>

   <div class="govuk-inset-text">
    <%=@application.minor_full_name?%>
   </div>

      <%= f.govuk_file_field :ukraine_parental_consent,
        label: { text: "Upload a file" }%>

         <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                    I need help
                    </span>
                </summary>
                <div class="govuk-details__text">
                 You can only upload these file types: pdf, jpeg, png.<br aria-hidden="true">
                <br aria-hidden="true">
                You can only upload 1 file. If you have multiple files, please use an app or website to combine the documents into a single PDF file. <br aria-hidden="true">
                <br aria-hidden="true">
                If the parents or guardians are struggling to complete the form and send it to you, they should <a class="govuk-link" href="https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-parents-or-legal-guardians-children-and-minors-applying-without-parents#parental-or-legal-guardian-consent-1" target="_blank"> read the guidance on completing parental consent forms (opens in a new tab)</a>
                </div>

            </details>

      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
    <% end %>
  </div>
</div>

