<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l"><%= t('agree_privacy_statement.full', scope: "unaccompanied_minor.questions")%></h1>

    <%= form_for @application, url: "/sponsor-a-child/steps/38", method: :post do |f| %>
        <%= f.govuk_check_boxes_fieldset :privacy_statement_confirm,
                                         multiple: false,
                                         legend: { text: "", hidden: true } do %>

        <%= f.govuk_check_box :privacy_statement_confirm, "true", "false", multiple: false, link_errors: true, label: { text: t('agree_privacy_statement.hint_html', scope: "unaccompanied_minor.questions") } %><% end %>

        <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>

