<% provide(:title, "Confirm your eligibility to sponsor a child from Ukraine - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <%= form_for @application, url: "/sponsor-a-child/steps/39", method: :post do |f| %>

  
  <%= f.govuk_error_summary link_base_errors_to: :privacy_statement_confirm %>

   <h1 class="gem-c-title__text govuk-heading-xl">
     Confirm your eligibility to sponsor a child from Ukraine
   </h1>

    <p class="govuk-body">
      To be eligible to sponsor a person under 18, who is not travelling with or joining a parent or legal guardian under the Homes for Ukraine Scheme, you (the sponsor):
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        Should personally know the child's parents or legal guardian (unless there are exceptional circumstances, which might include living with an adult relative in the UK), and you should have known them before the conflict started on 24 February 2022.
      </li>
      <li>
        Must commit to sponsoring the child for the whole 3 years of their permission to stay in the UK, or until they turn 18 and have been sponsored for at least 6 months, whichever is soonest.
      </li>
      <li>
        Must commit to continue living in the UK for the full duration of the sponsorship agreement (up to 3 years), and confirm you have permission to do so because, for example, you are a British Citizen or have legally settled in the UK.
      </li>
      <li>
        Have read the <a href="https://www.gov.uk/guidance/homes-for-ukraine-guidance-for-sponsors-children-and-minors-applying-without-parents-or-legal-guardians" target="_blank">guidance for sponsoring a child fleeing Ukraine</a>.
      </li>
    </ul>


    <%= f.govuk_check_boxes_fieldset :sponsor_declaration,
                                         multiple: false,
                                         legend: { text: "", hidden: true } do %>
       <%= f.govuk_check_box :sponsor_declaration, "true", "false", multiple: false, link_errors: true, label: { text: t('sponsor_declaration.full', scope: "unaccompanied_minor.questions") } %><% end %>
      <div class="govuk-button-group">
        <%= f.govuk_submit t('continue') %>
        <a class="govuk-link" href="/sponsor-a-child/save-and-return">Save and return later</a>
      </div>
    
      <% end %>

  </div>
</div>
