<% provide(:title, session[:has_error] || '' + t('sponsored_children_legal_guardian_consent.full', scope: "unaccompanied_minor.questions") + " - ") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for @application, url: "/sponsor-a-child/steps/5", method: :post do |f| %>
    
    <%= f.govuk_error_summary link_base_errors_to: :is_consent %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-heading-l"><%= t('sponsored_children_legal_guardian_consent.full', scope: "unaccompanied_minor.questions")%></h1>
        </legend>
      <%= f.govuk_collection_radio_buttons :is_consent,
                                           @application.eligibility_types.map{ |type| OpenStruct.new(id: type, name: t(type, scope: "unaccompanied_minor.questions.sponsored_children_legal_guardian_consent")) },
                                           :id,
                                           :name,
                                           legend: { text: t('sponsored_children_legal_guardian_consent.full', scope: "unaccompanied_minor.questions"), hidden: true },
                                           hint: { text: t('sponsored_children_legal_guardian_consent.hint_html', scope: "unaccompanied_minor.questions")}
      %>
      </fieldset>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
