<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('minor_fullname.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.minor_fullname %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/unaccompanied-minor/steps/1">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('minor_date_of_birth.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.minor_date_of_birth_as_string %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/unaccompanied-minor/steps/2">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('parental_consent.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.parental_consent_filename %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/unaccompanied-minor/steps/3">
            Change<span class="govuk-visually-hidden"> consent</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.fullname %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/unaccompanied-minor/steps/4">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/unaccompanied-minor/steps/5">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "unaccompanied_minor.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.phone_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/unaccompanied-minor/steps/6">
            Change<span class="govuk-visually-hidden"> number</span>
          </a>
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <%= form_for @application, url: "/unaccompanied-minor/check-answers", method: :post do |f| %>
      <%= f.govuk_submit t('accept_and_send.full', scope: "individual") %>
    <% end %>
  </div>
</div>
