<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="#" onclick="history.go(-1);return false;" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">
      Sponsor a child fleeing Ukraine without a parent
    </h1>

    <p class="govuk-body">
      Use this service to apply to sponsor a child fleeing Ukraine who is not accompanied by their legal guardian.
    </p>
    <p class="govuk-body">
      Unlike sponsoring an adult or a family, you will need to get parental consent and permission from your local council before you can apply for a visa.
    </p>

    <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
      <ol class="app-step-nav__steps">
        <li class="app-step-nav__step js-step" id="get-parental-consent">
          <div class="app-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-parental-consent-1"><span class="js-step-title-text">
                Get parental consent
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-parental-consent-1">
            <p class="app-step-nav__paragraph">At least one parent or legal guardian must consent to their child being sponsored. There are 2 forms they must complete:</p>

            <ol class="app-step-nav__list " data-length="2">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="#">Ukrainian consent form</a>
              </li>
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.2" class="app-step-nav__link js-link" href="#">British consent form</a>
              </li>
            </ol>

            <p class="app-step-nav__paragraph">Both forms need to be downloaded, completed and signed. The Ukrainian form also needs to be 'notarised'.</p>

            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="1.1" class="app-step-nav__link js-link" href="#">Find out how to complete the consent forms</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="get-permission-from-local-council">
          <div class="app-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-permission-from-local-council-2"><span class="js-step-title-text">
                Get permission from your local council
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-permission-from-local-council-2">
            <p class="app-step-nav__paragraph">Before applying for a visa, the sponsor will need to get permission from their local council.</p>

            <p class="app-step-nav__paragraph">The sponsor can apply for permission online. Their Local council will then perform a series of security checks, which include contacting the sponsor and parents.</p>

            <p class="app-step-nav__paragraph">You will need to upload the parental consent forms from step 1 in this form.</p>
            <ol class="app-step-nav__list " data-length="1">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="2.1" class="app-step-nav__link js-link" href="/unaccompanied-minor/start">Apply for permission to sponsor an unaccompanied child fleeing Ukraine</a>
              </li>
            </ol>
          </div>

        </li>

        <li class="app-step-nav__step js-step" id="apply-for-a-visa">
          <div class="app-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="app-step-nav__title">
              <span class="app-step-nav__circle app-step-nav__circle--number">
                <span class="app-step-nav__circle-inner">
                  <span class="app-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3
                  </span>
                </span>
              </span>

              <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-apply-for-a-visa-3"><span class="js-step-title-text">
                Apply for a visa
              </span><span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true" hidden="">Show</span></button></span>
            </h2>
          </div>

          <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-apply-for-a-visa-3">
            <p class="app-step-nav__paragraph">Lorem ipsum dolor sit amet.</p>

            <ol class="app-step-nav__list " data-length="4">
              <li class="app-step-nav__list-item js-list-item ">
                <a data-position="3.1" class="app-step-nav__link js-link" href="#">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
              </li>
            </ol>
          </div>

        </li>
      </ol>
    </div>

  </div>
</div>

<%= content_for :extra_css do %>
  <!--[if lte IE 8]><%= stylesheet_pack_tag 'gds-step_by_step_navigation-ie8', media: 'all' %><![endif]-->
  <!--[if gt IE 8]><!--><%= stylesheet_pack_tag 'gds-step_by_step_navigation', media: 'all' %><!--<![endif]-->
<% end %>

<%= content_for :extra_js do %>
  <%= javascript_pack_tag 'gds-step_by_step_navigation' %>
  
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation');
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav();
    stepByStepNavigation.start($element);
  </script>
<% end %>
