<%= form_for @application, url: "/individual/steps/11", method: :post do |f| %>
                <%= f.govuk_check_boxes_fieldset :agree_future_contact, multiple: false, legend: { text: t('future_contact.full', scope: "individual.questions"), size: 'l' } do %>
                <p class="govuk-body">
                <%= t('future_contact.comment', scope: "individual.questions") %>
                </p>
        <%= f.govuk_check_box :agree_future_contact, 1, 0, multiple: false, link_errors: true, label: { text: t('future_contact.full', scope: "individual.questions") } %><% end %>
        <%= f.govuk_submit t('continue') %>
<% end %>
