<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <%= form_for @application, url: "/organisation/steps/9", method: :post do |f| %>
      <%= f.govuk_radio_buttons_fieldset(:organisation_type, legend: { size: 'm', text: t('organisation_type.full', scope: "organisation.questions") }) do %>
        <%= f.hidden_field :organisation_type, value: "" %>
        <%= f.govuk_radio_button :organisation_type, :charity, label: { text: t('organisation_types.charity' ) },  link_errors: true %>
        <%= f.govuk_radio_button :organisation_type, :faith, label: { text: t('organisation_types.faith' ) } %>
        <%= f.govuk_radio_button :organisation_type, :business, label: { text: t('organisation_types.business' ) } do %>
          <%= f.govuk_text_area :organisation_type_business_information,  label: { text: t('organisation_type.business_label', scope: "organisation.questions") } %>
        <% end %>
        <%= f.govuk_radio_button :organisation_type, :other, label: { text: t('organisation_types.other' ) } do %>
          <%= f.govuk_text_area :organisation_type_other_information,  label: { text: t('organisation_type.other_label', scope: "organisation.questions") }  %>
        <% end %>
      <% end %>
      <%= f.govuk_submit t('continue') %>
    <% end %>
  </div>
</div>
