<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Application details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('family_type.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:family_type) %>
            <span class="govuk-error-message"><%= @application.errors[:family_type].join %></span>
          <% else %>
            <%= t(@application.family_type, scope: "individual.family_type") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/1">
            Change<span class="govuk-visually-hidden"> family or individual selection</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('living_space.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:living_space) %>
            <span class="govuk-error-message"><%= @application.errors[:living_space].join %></span>
          <% else %>
            <%= @application.living_space && @application.living_space.reject(&:empty?).map{ |opt| t(opt, scope: "individual.living_space") }.join(", ") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/2">
            Change<span class="govuk-visually-hidden"> living space type</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('step_free.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:step_free) %>
            <span class="govuk-error-message"><%= @application.errors[:step_free].join %></span>
          <% else %>
            <%= t(@application.step_free, scope: "individual.step_free") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/3">
            Change<span class="govuk-visually-hidden"> mobility impairment choice</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('single_room_count.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:single_room_count) %>
            <span class="govuk-error-message"><%= @application.errors[:single_room_count].join %></span>
          <% else %>
            <%= t(@application.single_room_count) %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/4">
            Change<span class="govuk-visually-hidden"> single rooms available</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('double_room_count.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:double_room_count) %>
            <span class="govuk-error-message"><%= @application.errors[:double_room_count].join %></span>
          <% else %>
            <%= t(@application.double_room_count) %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/5">
            Change<span class="govuk-visually-hidden"> double rooms available</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('postcode.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:postcode) %>
            <span class="govuk-error-message"><%= @application.errors[:postcode].join %></span>
          <% else %>
            <%= @application.postcode %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/6">
            Change<span class="govuk-visually-hidden"> postcode</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('accommodation_length.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:accommodation_length) %>
            <span class="govuk-error-message"><%= @application.errors[:accommodation_length].join %></span>
          <% else %>
            <%= t(@application.accommodation_length, scope: "individual.accommodation_length") %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/7">
            Change<span class="govuk-visually-hidden"> accommodation length</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:fullname) %>
            <span class="govuk-error-message"><%= @application.errors[:fullname].join %></span>
          <% else %>
            <%= @application.fullname %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/8">
            Change<span class="govuk-visually-hidden"> full name</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:email) %>
            <span class="govuk-error-message"><%= @application.errors[:email].join %></span>
          <% else %>
            <%= @application.email %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/9">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:phone_number) %>
            <span class="govuk-error-message"><%= @application.errors[:phone_number].join %></span>
          <% else %>
            <%= @application.phone_number %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/10">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('agree_future_contact.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:agree_future_contact) %>
            <span class="govuk-error-message"><%= @application.errors[:agree_future_contact].join %></span>
          <% else %>
            <%= @application.agree_future_contact == "true" ? "Agreed" : "Not agreed" %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/11">
            Change<span class="govuk-visually-hidden"> future contact agreement</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('agree_privacy_statement.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @application.errors.include?(:agree_privacy_statement) %>
            <span class="govuk-error-message"><%= @application.errors[:agree_privacy_statement].join %></span>
          <% else %>
            <%= @application.agree_privacy_statement == "true" ? "Agreed" : "Not agreed" %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/12">
            Change<span class="govuk-visually-hidden"> agree_privacy_statement agreement</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <%= form_for @application, url: "/individual/check_answers", method: :post do |f| %>
      <%= f.govuk_submit t('Accept and send') %>
    <% end %>
  </div>
</div>
