<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    <h2 class="govuk-heading-m">Application details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('family_single.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.family_or_single_type, scope: "individual.sponsor_type") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/1">
            Change<span class="govuk-visually-hidden"> family or individual selection</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('living_space.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.living_space_type, scope: "individual.sponsor_type") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/2">
            Change<span class="govuk-visually-hidden"> living space type</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('mobility_impairments.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.mobility_impairments_type, scope: "individual.mobility_impairments_type") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/3">
            Change<span class="govuk-visually-hidden"> mobility impairment choice</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('number_of_single_rooms.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.single_room_count) %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/4">
            Change<span class="govuk-visually-hidden"> single rooms available</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('number_of_double_rooms.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.double_room_count) %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/5">
            Change<span class="govuk-visually-hidden"> double rooms available</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('postcode.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.postcode %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/6">
            Change<span class="govuk-visually-hidden"> postcode</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('accommodation_length.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@application.accommodation_length_type, scope: "individual.accommodation_length_type") %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/7">
            Change<span class="govuk-visually-hidden"> accommodation length</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.fullname %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/8">
            Change<span class="govuk-visually-hidden"> full name</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/9">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.phone_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/10">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('future_contact.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.agree_future_contact == "true" ? "Agreed" : "Not agreed" %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/11">
            Change<span class="govuk-visually-hidden"> future contact agreement</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('privacy_statement.short', scope: "individual.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.agree_privacy_statement == "true" ? "Agreed" : "Not agreed" %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/individual/steps/12">
            Change<span class="govuk-visually-hidden"> privacy agreement</span>
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Now send your application</h2>

    <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <%= form_for @application, url: "/individual", method: :post do |f| %>
      <%= f.govuk_submit t('Accept and send') %>
    <% end %>
  </div>
</div>
