<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers before sending your registration</h1>

    <h2 class="govuk-heading-m">Personal details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('fullname.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.fullname %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/1?check">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('email.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.email %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/2?check">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('phone_number.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.phone_number %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/3?check">
            Change<span class="govuk-visually-hidden"> phone number</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Residential address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.residential_line_1 %>
          <br />

          <% if @application.residential_line_2.present? %>
            <%= @application.residential_line_2 %>
            <br />
          <% end %>

          <%= @application.residential_town %>
          <br />
          <%= @application.residential_postcode %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/4?check">
            Change<span class="govuk-visually-hidden"> address</span>
          </a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('different_address.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.different_address.capitalize %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/5?check">
            Change<span class="govuk-visually-hidden"> different address</span>
          </a>
        </dd>
      </div>
    </dl>

    <% if @application.property_one_line_1.present? && @application.different_address.present? && @application.different_address.upcase == "YES" %>
      <h2 class="govuk-heading-m">Host property details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property one address
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.property_one_line_1 %>
            <br />

            <% if @application.property_one_line_2.present? %>
              <%= @application.property_one_line_2 %>
              <br />
            <% end %>

            <%= @application.property_one_town %>
            <br />
            <%= @application.property_one_postcode %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/6?check">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('more_properties.short', scope: "additional_info.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.more_properties %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/7?check">
              Change<span class="govuk-visually-hidden"> more properties</span>
            </a>
          </dd>
        </div>
      </dl>
    <% end %>

    <h2 class="govuk-heading-m">Host details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('number_adults.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.number_adults %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/10?check">
            Change<span class="govuk-visually-hidden"> adults</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('number_children.short', scope: "additional_info.questions") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @application.number_children %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/expression-of-interest/steps/10?check">
            Change<span class="govuk-visually-hidden"> children</span>
          </a>
        </dd>
      </div>
    </dl>

      <h2 class="govuk-heading-m">Application details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('hosting_start_date.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:hosting_start_date) %>
              <span class="govuk-error-message"><%= @application.errors[:hosting_start_date].join %></span>
            <% else %>
              <%= @application.hosting_start_date_as_string %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/9?check">
              Change<span class="govuk-visually-hidden"> start date</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('family_type.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:family_type) %>
              <span class="govuk-error-message"><%= @application.errors[:family_type].join %></span>
            <% else %>
              <%= t(@application.family_type, scope: "expression_of_interest.family_type") %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/11?check">
              Change<span class="govuk-visually-hidden"> family or individual selection</span>
            </a>
          </dd>
        </div>
<%
=begin
%>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('accommodation_length.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:accommodation_length) %>
              <span class="govuk-error-message"><%= @application.errors[:accommodation_length].join %></span>
            <% else %>
              <%= t(@application.accommodation_length, scope: "expression_of_interest.accommodation_length") %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/11">
              Change<span class="govuk-visually-hidden"> accommodation length</span>
            </a>
          </dd>
        </div>
<%
=end
%>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('single_room_count.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:single_room_count) %>
              <span class="govuk-error-message"><%= @application.errors[:single_room_count].join %></span>
            <% else %>
              <%= t(@application.single_room_count) %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/12?check">
              Change<span class="govuk-visually-hidden"> single rooms available</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('double_room_count.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:double_room_count) %>
              <span class="govuk-error-message"><%= @application.errors[:double_room_count].join %></span>
            <% else %>
              <%= t(@application.double_room_count) %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/12?check">
              Change<span class="govuk-visually-hidden"> double rooms available</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('step_free.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:step_free) %>
              <span class="govuk-error-message"><%= @application.errors[:step_free].join %></span>
            <% else %>
              <%= t(@application.step_free, scope: "expression_of_interest.step_free") %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/13?check">
              Change<span class="govuk-visually-hidden"> Step-free access choice</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('allow_pet.short', scope: "additional_info.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.allow_pet.capitalize %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/14?check">
              Change<span class="govuk-visually-hidden"> pet</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('user_research.short', scope: "additional_info.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @application.agree_privacy_statement == "yes" ? "Yes" : "No" %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/15?check">
              Change<span class="govuk-visually-hidden"> user research</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= t('agree_privacy_statement.short', scope: "expression_of_interest.questions") %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if @application.errors.include?(:agree_privacy_statement) %>
              <span class="govuk-error-message"><%= @application.errors[:agree_privacy_statement].join %></span>
            <% else %>
              <%= @application.agree_privacy_statement == "true" ? "Agreed" : "Not agreed" %>
            <% end %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/expression-of-interest/steps/16?check">
              Change<span class="govuk-visually-hidden"> agree_privacy_statement agreement</span>
            </a>
          </dd>
        </div>
      </dl>

    <h2 class="govuk-heading-m">Now send your registration</h2>

    <p class="govuk-body">By submitting this registration you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <%= form_for @application, url: "/expression-of-interest/check-answers", method: :post do |f| %>
      <%= f.govuk_submit t('accept_and_send.full', scope: "expression_of_interest") %>
    <% end %>
  </div>
</div>
